/* public/styles.css */

.chat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

input {
  margin-bottom: 1rem;
}

a {
  margin-top: 1rem;
}