<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
<form method="POST" action="/new" class="form-box">
   <h2>Form to add messages</h2>
   <input type="text" placeholder="author" name="messageUser" >
   <input type="text" placeholder="text" name="messageText">
   <button type="submit"> Submit</button>
</form>
</body>
</html>